.App {
  display: flex;
  /* background-color: purple; */
}

.monster {
  height: 100vh;
  /* display: flex; */
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  /* background-color: orange; */
}

/* .headColor {
  height: 33%;
  background-color: yellow;
}

.bodyColor {
  height: 33%;
  background-color: greenyellow;
}

.legsColor {
  height: 33%;
  background-color: green;
} */

