.bodyDiv {
    display: flex;
    /* background-color: purple; */
}

.bodyOriginalState {
    background-image: url(images/me.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 200px;
    width: 50%;
}

.buttonLeft {
    background-image: url(images/leftArrow.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 100px;
    width: 25%;
}

.buttonRight {
    background-image: url(images/rightArrow.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 100px;
    width: 25%;
}

.bodyClass0 {
    /* background-color: yellow; */
    background-image: url(images/monster1-2.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 200px;
    width: 50%;
}

.bodyClass1 {
    /* background-color: greenyellow; */
    background-image: url(images/monster2-2.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 200px;
    width: 50%;
}

.bodyClass2 {
    /* background-color: green; */
    background-image: url(images/monster3-2.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 200px;
    width: 50%;
}